@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .header {
        display: none!important;
    }
}

.header{
    display: block;
}

.body-index-result-table{
    color: black;

}

.body-index-result-table th{
    font-weight: bold!important;
    text-align: center!important;
}

.body-index-result-table td{
    text-align: center!important;
    /* background-color: pink; */
    /* padding-left: 20px; */
}

.body-index-result-table td:last-of-type{
    /* color: green */
}

.gender-select label{
    margin-right: 30px;
    /* margin-left: 30px; */
    margin-bottom: 20px;
}

.elm-overlay { z-index: 999; }

.grid-wrap{
    padding: 2rem;
}
